.ur-new {
  width: 100%;
  display: flex;

  .ur-newContainer {
    flex: 6;

    .ur-top,
    .ur-bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;
      align-items: center;

      .ur-right {
        flex: 1;
        padding: 0px 20px;

        form {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;

          .ur-formInput {
            width: 100%;
            margin-bottom: 10px;

            input,
            textarea,
            select {
              width: 100% ;
              padding: 8px;
              border: 1px solid #ccc;
              border-radius: 4px;
            }
          }
          button {
            width: 150px;
            padding: 10px;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
            margin-left: auto;
          }
        }
      }
    }
  }
}