/* Login.css */

.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lContainer {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.lInput {
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.lButton:disabled {
    background-color: #0071c28c;
    cursor: not-allowed;
}

.lButton:hover {
    background-color: #005ea8;
}

/* Additional Styling for Error Message */
span {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}