.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 4em;
    font-family: 'Bubblegum Sans', cursive;
    color: #000000;
    display: inline-block;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.logoContainer {
  position: fixed;
  top: 5px;
  left: 20px;
}

.hotelLogo {
  width: 130px;
  height: auto;
}

.lInput {
  height: 30px;
  padding: 10px;
  padding-right: 30px;
}

.inputWrapper {
  position: relative;
}

.iconWrapper {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}