.u-new {
    width: 100%;
    display: flex;
  
    .u-newContainer {
      flex: 6;
  
      .u-top,
      .u-bottom {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 10px;
        margin: 20px;
        display: flex;
  
        h1 {
          color: lightgray;
          font-size: 20px;
        }
  
        .u-left {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
  
          img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
  
        .u-right {
          flex: 2;
          display: flex;
          flex-direction: column;
          padding: 0px 20px;
          align-items: flex-end;
  
          form {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;
  
            .u-formInput {
              width: 50%;
  
              label {
                display: flex;
                align-items: center;
                gap: 10px;
  
                .u-icon {
                  cursor: pointer;
                }
              }
  
              input {
                width: calc(100% - 40px);
                padding: 5px;
                border: none;
                border-bottom: 1px solid gray;
              }
            }
  
            button {
              width: 150px;
              padding: 10px;
              border: none;
              background-color: teal;
              color: white;
              font-weight: bold;
              cursor: pointer;
              margin-top: 10px;
              align-self: flex-end;
            }
          }
        }
      }
    }
  }